@use "../abstracts/" as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

   @for $i from 2 through 12 {
    &.cols-#{$i} {
        display: grid;
        grid-template-columns: repeat($i, 1fr);
      }
  }

  // @include mq(small) {
  //   grid-auto-columns: 1fr;
  //   grid-auto-flow: column;
  // }
}